@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Paleta base */
  --primary-color: #004D52;
  --primary-hover-color: #0F6F77;

  --secondary-color: #00a9bd;
  --secondary-hover-color: #018a99;
  
  --success-color: #22C55E;
  --success-hover-color: #16A34A;

  --warning-color: #FFB65C;
  --warning-hover-color: #E8A648;

  --error-color: #EF4444;
  --error-hover-color: #DC2626;

  /* Fondo y estructura */
  --background-color: #F7F8FA;
  --surface-color: #FFFFFF;

  --border-color: #D1D5DB;
  --border-hover-color: #A0AEC0;

  /* Tipografía */
  --text-color: #2E3A45;
  --text-muted-color: #64748B;
  --text-inverted-color: #FFFFFF;

  /* Estados */
  --disabled-bg-color: #E5E7EB;
  --disabled-text-color: #9CA3AF;

  /* Otros */
  --focus-ring-color: #A4D64E33;
}

bg-primary {
  background-color: var(--primary-color);
}

bg-secondary {
  background-color: var(--secondary-color);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
}

.input {
  @apply w-full border p-2 rounded;
}

.btn {
  @apply px-4 py-2 rounded shadow hover:shadow-md;
}

.btn {
  @apply bg-primary hover:bg-primary-hover text-white px-4 py-2 rounded;
}
